<h2 align="right"><%=@player1[:name]%> vs. <%=@player2[:name]%></h2>
<h3 align="right"><%=@current_turn%>'s Turn</h3>

<p><%=@player1[:name]%> <%=@player1[:hp]%>/60 HP</p>
<%= "<progress value='"+@player1[:hp].to_s+"' max='60'></progress>" %>

<p><%=@player2[:name]%> <%=@player2[:hp]%>/60 HP</p>
<%= "<progress value='"+@player2[:hp].to_s+"' max='60'></progress>" %>

<a href="/attack">Attack</a>
<% if @attack %>
<p><%=@other_player%> attacked <%=@current_turn%></p>
<% end %>
