<h2 align="right"><%=@player1_name%> vs. <%=@player2_name%></h2>

<p><%=@player2_name%> <%=@player_2_hp%>/60 HP</p>

<a href="/attack">Attack</a>
<% if @attack %>
<p><%=@player1_name%> attacked <%=@player2_name%></p>
<% end %>
