<%= @game.current_player.name %> vs. <%= @game.other_player.name %><br>
<%= @game.current_player.name %>'s hitpoint is <%= @game.current_player.points %><br>
<%= @game.other_player.name %>'s hitpoint is <%= @game.other_player.points %>
<!-- <%= @game.player1.name %>'s hitpoint is <%= @game.player1.points %> -->


<form action="/attack">
  <input type="submit" value="Attack">
</form>
